#lifeCounter {
    text-align: center; 
    margin-top: 10rem;
    mix-blend-mode: darken;   
}

#lifeSpan { 
    color: black;
    font-size: 600%;
    font-weight: bolder;
}

#menu {
    display: none;
    width: 50px;
    height: 50px;
    background-color: red;
}

#lifeDecrease1 {
    background-color: rgba(255, 14, 14, 0.5);
    font-size: 150%;
    height: 4.3rem;
    width: 5.3rem;
    margin: 2rem 0.2rem 0.2rem 0;
    border-radius: 20%;  
}

#lifeDecrease5 {
    background-color: rgba(255, 14, 14, 0.5);
    font-size: 150%;
    height: 3.6rem;
    width: 4.5rem;
    margin: 2rem 0.2rem 0.2rem 0;
    border-radius: 20%;  
}

#lifeIncrease1 {
    background-color: rgba(1, 148, 89, 0.6);
    font-size: 150%;
    height: 4.3rem;
    width: 5.3rem;
    margin: 2rem 0.2rem 0.2rem 0;
    border-radius: 20%;
}

#lifeIncrease5 {
    background-color: rgba(1, 148, 89, 0.6);
    font-size: 150%;
    height: 3.6rem;
    width: 4.5rem;
    margin: 2rem 0.2rem 0.2rem 0;
    border-radius: 20%;
}

#menuBTN {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    font-size: 150%;
    border: none;
    border-radius: 25%;
    height: 2.5rem;
    width: 3.5rem;
}

body {
    background-image: url(../img/selesnya.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}